{% extends "guestparent.html" %}

{% block content %}
<h2>Generate Extra Income
    For MMU Students and Staffs     
    Using Our Platform</h2>
  <p>create jobs, or offer services 
    with @mmu.edu.my domain</p>
    <div class="button-container">
        <a href="/register">
        <button class="button register-button">Register</button>
        </a>
        <a href="/login ">
        <button class="button login-button">Login</button>
        </a>
    </div>
{% endblock %}

{% block rectangle %} 
<div class="tabs-container">
    <div class="tab">Looking For</div>
    <div class="tab">Offering To</div>
</div>
{% endblock %}