{% extends "guestparent.html" %}

{% block content %}
<div class="logreg-container">
    <h1 class="formtitle">Login</h1>
    <form method="POST" action="#">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Your Email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Your Password" required>
        
        <!-- Forgot Password Link -->
        <div class="forgot-password">
          <a href="/forgotPassword">Forgot Password?</a>
        </div>

        <button class="button loginsubmit-button" type="submit">Login</button>
    </form>
</div>
{% endblock %}

{% block rectangle %}
{% endblock %}
