{% extends "guestparent.html" %}

{% block content %}
<div class="logreg-container">
    <h1 class="formtitle">Register</h1>
    <form method="POST" action="/register">
        <label for="email">MMU Email</label>
        <input type="email" name="email" placeholder="@mmu.edu.my email" value="{{email if email}}" required/>

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="4-12 characters" minlength="4" maxlength="12" required/>
    
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="8-16 characters" minlength="8" maxlength="16" required/>

        <button class ="button register-button" type="submit">Register</button>
    </form>
</div>
{% endblock %}